* {
    font-family: Helvertica;
    color: seashell;
    background-color: black;
    width: 1200px;
}

.header {
    display: inline-flex;
    height: 69px;
}

.header ul {
    display: inline-flex;
    text-align: right;
    align-content: right;
}

.header img {
    height: 50px;
    margin-left: 10px;
}

.banner {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: flex;
    text-align: center;
    align-items: center;
}

.banner * {
    margin: 0 auto;
    width: 1200px;
}

.month {
    display: flex;
    justify-content: center;
}

.month img {
    width: 300px;
    height: 200px;
}

.location {
    display: flex;
    justify-content: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
}

footer section{
    height: 200px;
    display: flex;
    align-items: stretch;
}

footer section * {

}