/* General */

* {
    font-family: "Sourc Code Pro", monospace;
    text-align: center;
}

body {
    background-color: rgb(202, 227, 255);
}

section {
    border: 2px solid rgb(97, 97, 97);
    padding: 5px;
    margin: 5px;
}

/* Color */

#colors div{
    padding: 5px;
    margin: 4px;
    display: inline-block;
    width: 30%;
    text-align: center;
}

.cool-blue{
    background-color: #2d5dcc;
    color: white;
}

.warm-red{
    background-color: #e53935;
    color: white;
}

.warm-yellow{
    background-color: #fdd835;
    color: black;
}

.pink{
    background-color: #e91e63;
    color: white;
}

/* Fonts */

#fonts h3 {
    font-style: underline;
}

#fonts article {
    padding: 5px;
    margin: 4px;
    display: inline;
    width: 40%;
    font-size: 150%;
}

.scp-200 {
    font-weight: 200;
}

.scp-200-ita {
    font-weight: 200;
    font-style: italic;
}

.scp-300 {
    font-weight: 300;
}

.scp-300-ita {
    font-weight: 300;
    font-style: italic;
}

.scp-400 {
    font-weight: 400;
}

.scp-700 {
    font-weight: 700;
}

/* Spacing */

/* Grid */

.grid-container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.grid-container div{
    border: 0.2rem solid #2d5dcc55;
}

.grid-item1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: #2d5dcc88;
    text-align: center;
}

.grid-item2 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    background-color: #2d5dcc88;
    text-align: center;
}

.grid-item3 {
    grid-column: 3;
    grid-row: 1;
    background-color: #2d5dcc88;
    text-align: center;
}

/* Flexbox */

.flexbox-item {
    background-color: #2d5dcc88;
    margin: 2%;
    width: 8rem;
    height: 60px;
    border: 0.2rem solid #2d5dcc55;
}

.flexbox-container1 {
    display: flex;
    justify-content: left;
}
.flexbox-container2 {
    display: flex;
    justify-content: right;
}
.flexbox-container3 {
    display: flex;
    justify-content: space-around;
}
.flexbox-container4 {
    display: flex;
    justify-content: space-evenly;
}
.flexbox-container5 {
    display: flex;
    justify-content: space-between;
}
.flexbox-container6 {
    background-color: #ffffff44;
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
    width: 50%;
    height: 280px;
    justify-content: center;
    border: 0.2rem solid #00000030;
}
.flexbox-container7 {
    background-color: #ffffff44;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 50%;
    height: 280px;
    justify-content: center;
    border: 0.2rem solid #00000030;
}
.flexbox-container8 {
    background-color: #ffffff44;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    width: 50%;
    height: 280px;
    justify-content: center;
    border: 0.2rem solid #00000030;
}

.flexbox-container9 {
    background-color: #ffffff44;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    width: 50%;
    height: 280px;
    justify-content: center;
    border: 0.2rem solid #00000030;
}